$pColor: #E3AFB7;
$sColor: #985D6C;
$tColor: #FDE7EA;
$hColor: #71380D;
$fColor: #2E1502;


$defaultFont: 'Lexend Deca', sans-serif;
$lightWeight: 100;
$medWeight: 400;
$boldWeight: 600;


$gutter: 16px;